<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>banco de preguntas</title>
  <link rel="stylesheet" href="app.css">
</head>

<body>
  <div class="container">
    <div id="modals">

    </div>
    <nav>
      <div>sobre nosotros</div>
      <div>reglas del juego</div>
      <button class="modal">jugar</button>
    </nav>



    <div class="questions">

      <div>
        <h3>Categoría de preguntas</h3>
      </div>
      <div class="btn">
        <button class="modal">muy fácil</button>
        <button class="modal">fácil</button>
        <button class="modal">normal</button>
        <button class="modal">difícil</button>
        <button class="modal">muy difícil</button>
      </div>

    </div>


  </div>
  <script src="app.js"></script>
</body>

</html>